.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5px 5px; 
  background-color: black;

}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.navbar-logo {
  height: 60px; 
  width: 150px;
  margin-left: 20px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle-bar {
  width: 30px; 
  height: 4px; 
  background-color: rgb(27, 25, 25); 
  margin: 3px 0; 
}

.navbar-right {
  display: flex;
  gap: 15px; 
  margin-right: 35px;
}


.navbar-link {
  color: rgb(157, 147, 147);
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
    height: 50px;
    margin-right: 30px;
    margin-top: 15px;
  }

  .navbar-right {
    display: none;
  }

  .navbar-right.visible {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    position: absolute; 
    right: 20px;
    top: 60px; 
    background-color: white; 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-logo {
    height: 60px; 
    width: 130px;
    margin-left: 2px;
  }
}