.partner-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.partner-image {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .partner-image {
    width: 85%; /* Adjust the width for smaller screens */
  }
}
